<app-header></app-header>
<div class="container">
  <h1>დავალებების გვერდი</h1>
  <app-filter (filtersChanged)="onFiltersChanged($event)"></app-filter>

  <!-- Task Grid Container -->

  <div class="grid-container">
    <div class="status-column" *ngFor="let group of getTasksByStatus()">
      <!-- Status Header -->
      <div
        class="status-header"
        [ngStyle]="{ 'background-color': getStatusColor(group.status.id) }"
      >
        {{ group.status.name }}
      </div>

      <!-- Tasks under the same status -->
      <div
        class="task-card"
        *ngFor="let task of group.tasks"
        [ngStyle]="{ 'border-color': getStatusColor(group.status.id) }"
        (click)="seeTaskDetails(group.tasks[0].id!)"
      >
        <div class="task-card-header">
          <div
            class="priority-container"
            [ngStyle]="{ 'border-color': getPriorityColor(task.priority.id) }"
          >
            <img
              [src]="task.priority.icon"
              alt="priority icon"
              class="priority-icon"
            />
            <p [ngStyle]="{ color: getPriorityColor(task.priority.id) }">
              {{ task.priority.name }}
            </p>
          </div>
          <div
            class="dep-container"
            [ngStyle]="{
              'background-color': getDepartmentColor(task.department.id)
            }"
          >
            <p class="date">
              <span>{{
                task.department.name.length > 7
                  ? task.department.name.slice(0, 7)
                  : task.department.name
              }}</span>
            </p>
          </div>
          <p class="date">{{ task.due_date | georgianDate : "month" }}</p>
        </div>

        <div class="task-card-info">
          <h3>{{ task.name }}</h3>
          <p>
            {{
              task.description.length > 100
                ? task.description.slice(0, 100) + "..."
                : task.description
            }}
          </p>
        </div>

        <div class="task-card-footer">
          <img
            [src]="task.employee.avatar"
            alt="Employee Avatar"
            class="employee-avatar"
          />
          <div class="comments-container">
            <ion-icon name="chatbox-outline"></ion-icon>

            <p>{{ task.total_comments }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
