.dropdown-container {
  display: flex;

  .dropdown-inner-container {
    position: relative;
    display: flex;
    gap: 2rem;
    border: 1px solid #dee2e6;
    border-radius: 1rem;
    .dropdown {
      display: inline-block;

      .dropdown-button {
        color: #0d0f10;

        padding: 1rem 1.8rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 2rem;
        .arrow {
          font-size: 2.4rem;
        }
      }
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #8338ec;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-item input {
  margin-right: 10px;
}

.apply-button {
  padding: 10px;
  background-color: #8338ec;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.apply-button:hover {
  background-color: #6a20d9;
}

.selected-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
  .selected-item {
    background: transparent;
    color: #343a40;
    padding: 0.6rem 1rem;
    border: 1px solid #ced4da;
    border-radius: 4.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    .remove-btn {
      cursor: pointer;
      font-size: 1.4rem;
    }
  }
  .clear-all {
    border: none;
    cursor: pointer;
  }
}

.dropdown-open {
  color: #6a20d9 !important;
}

.dropdown-item input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  &:hover {
    border-color: #6a20d9;
  }

  &:checked {
    background-color: transparent;
    border-color: #8338ec;
  }

  &::after {
    content: "\2713";
    font-size: 1.6rem;
    font-weight: bold;
    color: #8338ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
  }

  &:checked::after {
    transform: translate(-50%, -50%) scale(1);
  }
}
