<!-- Dropdowns -->
<div class="dropdown-container" #dropdownContainer>
  <div class="dropdown-inner-container">
    <div *ngFor="let dropdown of dropdowns; let i = index" class="dropdown">
      <button
        (click)="toggleDropdown(i)"
        class="dropdown-button"
        [ngClass]="{ 'dropdown-open': openDropdown === i }"
      >
        {{ dropdown.label }}
        <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>
      </button>

      <div class="dropdown-menu" *ngIf="openDropdown === i">
        <label *ngFor="let option of dropdown.options" class="dropdown-item">
          <input
            type="checkbox"
            [checked]="isSelected(option, i)"
            (change)="toggleSelection(option, i)"
          />

          <ng-container
            *ngIf="dropdown.key === 'employees'; else defaultOption"
          >
            {{ option.name }} {{ option.surname }}
          </ng-container>
          <ng-template #defaultOption>
            {{ option.name }}
          </ng-template>
        </label>
        <button class="apply-button" (click)="applySelection(i)">არჩევა</button>
      </div>
    </div>
  </div>
</div>

<!-- Selected Items Display -->
<div class="selected-items-container">
  <ng-container *ngFor="let dropdown of dropdowns; let i = index">
    <ng-container *ngFor="let item of dropdown.selected">
      <div class="selected-item">
        <ng-container *ngIf="dropdown.key === 'employees'; else defaultName">
          {{ item.name }} {{ item.surname }}
        </ng-container>
        <ng-template #defaultName>
          {{ item.name }}
        </ng-template>
        <ion-icon
          name="close-outline"
          (click)="removeItem(item, i)"
          class="remove-btn"
        ></ion-icon>
      </div>
    </ng-container>
  </ng-container>

  <div
    class="selected-item clear-all"
    *ngIf="hasSelectedItems()"
    (click)="clearAll()"
  >
    გასუფთავება
  </div>
</div>
